In [1]:
import pandas as pd

In [9]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("./hlr_db.db")

 
df = pd.read_sql_query("SELECT * FROM sensor_data_exhaust;", conn)
df2 = pd.read_sql_query("SELECT * FROM sensor_data_interlock;", conn)
 
conn.close()

print("after and before scrub")
df.head()

after and before scrub

   id       sensor_id sensor_type      timestamp   temp  humid     co2
0   1  before_exhaust      tongdy  1764210788398  23.94  47.19  621.38
1   2  after_exhausts      tongdy  1764210788422  24.60  62.04  675.22
2   3  before_exhaust      tongdy  1764210788449  23.60  56.99  626.63
3   4  after_exhausts      tongdy  1764210788462  24.14  56.22  532.71
4   5  before_exhaust      tongdy  1764210805490  24.25  50.70  557.67

In [10]:
print("interlock")
df2.head()

interlock

,id,sensor_id,timestamp,sensor_type,temp,humid,co2,operation_mode,temp_before_filter,fan_speed,voc
0,1,interlock_4c,1764210788435,interlock,28.25,47.93,821.96,0,28.40,23,207.59
1,2,interlock_4c,1764210788475,interlock,29.43,53.14,818.72,2,29.50,40,151.43
2,3,interlock_4c,1764210805518,interlock,30.59,58.84,761.32,1,30.92,34,231.12
3,4,interlock_4c,1764210805559,interlock,30.87,56.47,742.05,4,31.70,92,172.80
4,5,interlock_4c,1764212441279,interlock,26.00,48.30,614.00,2,27.00,70,0.00